/*General features*/
body{
	display: grid;
	grid-template-rows:200px auto 115px;
	grid-template-columns:100%;
	grid-template-areas: "header"
						 "main"
						 "footer";
	border:0;
	margin:0;
	grid-row-gap:0;
	grid-column-gap:0;
}

/*Header features*/
.header{
	grid-area: header;
	height: 200px;
	width: all;
	color: white;
	background-color: #2E2E2E;
	display: flex;
	flex-direction: column;
	justify-content:space-between;
	align-items:stretch;
	text-align: center;
}

.demoNav{
	text-align: center;
	align-self: bottom;
	background-color: darkgray;
	width:all;
	height:50px;
}

.title{
	font-size: 55pt;
	font-weight: bolder;
	margin-top:0;
	margin-bottom:0;
}

.subtitle{
	font-size: 40pt;
	font-weight: bold;
	margin-top: 0;
	margin-bottom:0;
}

.mainBody {
	grid-area: main;
	display: grid;
	grid-template-columns: 258px auto 258px;
	grid-template-rows: 164px auto
	margin:0;
	border:0;
	grid-row-gap:0;
	grid-column-gap:0;
}

.gridfit {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 3;
}
.mainBody > section {
	margin:0;
	border:0;
}

.picture-main, .picture-small {
	width:256px;
	border:0;
	margin:0;
	padding:0;
}

.picture-main {
	background-repeat:repeat-y;
	height: auto;
}

.picture-small{
	height: 164px;

}
#main-left {
	background-image: url("6354-1.jpg");
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 2;
}

#main-right {
	background-image: url("6354-2.jpg");
	grid-column-start: 3;
	grid-row-start: 2;
}

#top-left {
	background-image: url("6354-1-top.jpg");
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 2;
}

#top-right {
	background-image: url("6354-2-top.jpg");
	grid-column-start: 3;
	grid-row-start: 1;
	grid-row-end: 2;
}

#bottom-left {
	background-image: url("6354-1-bottom.jpg");
	grid-column-start:1;
	grid-column-end:2;
	background-repeat: no-repeat;
}

#bottom-right {
	background-image: url("6354-2-bottom.jpg");
	grid-column-start: 3;
	background-repeat: no-repeat;
}

.final_footer {
	grid-area: footer;
	text-align: center;
	color: white;
	background-color: #2E2E2E;
	display:grid;
	grid-template-columns: 258px auto 258px;
	grid-template-rows: 115px;
	grid-row-gap:0;
	grid-column-gap:0;
}

.final_footer > div {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 2;
	border=0;
	margin=0;
}

.final_footer > p {
	border=0;
	margin=0;
}
