/*General features*/
body{
	display: grid;
	grid-template-rows:200px auto 115px;
	grid-template-columns:100%;
	grid-template-areas: "header"
						 "main"
						 "footer";
	border:0;
	margin:0;
	grid-row-gap:0;
	grid-column-gap:0;
	min-width: 742px;
	background-color: #FAFAFA;	
}

ul {

	list-style: none;
}

/*Header features*/
.header{
	grid-area: header;
	height: 200px;
	width: all;
	color: white;
	background-color: #2E2E2E;
	display: flex;
	flex-direction: column;
	justify-content:space-between;
	align-items:stretch;
	text-align: center;
	font-family: sans-serif;
}

.demoNav{
	text-align: center;
	align-self: bottom;
	background-color: darkgray;
	width:all;
	height:50px;
}

.title{
	font-size: 55pt;
	font-weight: bolder;
	margin-top:0;
	margin-bottom:0;
}

.subtitle{
	font-size: 40pt;
	font-weight: bold;
	margin-top: 0;
	margin-bottom:0;
}

.mainBody {
	background-color: #FAFAFA;
	font-family: sans-serif;
	grid-area: main;
	display: grid;
	grid-template-columns: 258px auto 258px;
	grid-template-rows: 164px auto
	margin:0;
	border:0;
	grid-row-gap:0;
	grid-column-gap:0;
}

.gridfit {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 3;
}

.mainBody > section {
	margin:0;
	border:0;
	background-color: #FAFAFA;
}

.important_ul {

	display: block;
}

.important_ul > h3 {
	display:block;
	align-self: center;
	justify-self: start;
}

.movielist {
	display: flex;
	flex-direction: row;
	flex-flow: space-evenly;
	flex-wrap: wrap;
}

.moviecard {
	padding: 5px;
	margin:30px;
	border: solid;
	border-color: black;
	border-radius: 5px;
	width: 160px;
	height: 120px;
	color:white;
	background-color: darkgrey;
}

.moviecard:click {
	background-color: black;
}

.moviecard:hover {
	color:red;
}

.picture-main, .picture-small {
	width:256px;
	border:0;
	margin:0;
	padding:0;
}

.picture-main {

	background-repeat: repeat-y;
}

.picture-small{

	height: 164px;
}
#main-left {
	background-image: url("6354-1.jpg");
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 2;
}

#main-right {
	background-image: url("6354-2.jpg");
	grid-column-start: 3;
	grid-row-start: 2;
}

#top-left {
	background-image: url("6354-1-top.jpg");
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 2;
}

#top-right {
	background-image: url("6354-2-top.jpg");
	grid-column-start: 3;
	grid-row-start: 1;
	grid-row-end: 2;
}

#bottom-left {
	background-image: url("6354-1-bottom.jpg");
	grid-column-start:1;
	grid-column-end:2;
	background-repeat: no-repeat;
}

#bottom-right {
	background-image: url("6354-2-bottom.jpg");
	grid-column-start: 3;
	background-repeat: no-repeat;
}

.final_footer {
	font-family: sans-serif;
	grid-area: footer;
	text-align: center;
	display:grid;
	grid-template-columns: 258px auto 258px;
	grid-template-rows: 115px;
	grid-row-gap:0;
	grid-column-gap:0;
}

.final_footer > div {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 2;
	border=0;
	margin=0;
}

.final_footer > p {
	border=0;
	margin=0;
}

.important_form {
	display:flex;
	flex-direction: column;
	flex-wrap: wrap;
	height: 436px;
	align-items: baseline;
}

form {
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
}

label > span {

	display: block;
}

form > label {
	
	order:3;
}

form>p {
	
	order:1;
}
