body{
	display:grid;
	border:0;
	margin:0;
	padding: 0;
	grid-template-columns: 20% 60% 20%;
	grid-template-rows: 200px 50px auto 50px;
	grid-template-areas: 
		"header header header"
		"leftPic nav rightPic"
		"leftPic main rightPic"
		"leftFPic footer rightFPic";
	}

.picture_container {
	height: 100%;
	background-repeat: no-repeat;
	background-size: contain;
	margin:0;
	border:0;
}
#left_aside{
	border:0;
	margin:0;
	height:100vh;
	grid-area: leftPic;
	background-image: url("6354-1.jpg");
}

#left_bottom_aside{
	border:0;
	margin:0;
	height: 30vh;
	grid-area: leftFPic;
	background-image: url("6354-1-bottom.jpg");
}
#right_aside{
	border:0;
	margin:0;
	height:100vh;
	grid-area: rightPic;
	background-image: url("6354-2.jpg");
}

#right_bottom_aside{
	border:0;
	margin:0;
	height: 30vh;
	grid-area: rightFPic;
	background-image: url("6354-2-bottom.jpg");
}

.header {
	grid-area: header;
	width:100vw;
	margin:0;
	text-align: center;
	background-color: black;
	color: lightgrey;
	height: 50vh;
}

.demoNav {
	align-self:center;
	grid-area: nav;
	margin:0;
	border:0;
	background-color: lightgrey;
	height: 50px;
	align-self: center;
	text-align: center;
}

.header > h1 {
	font-size: 50pt;
}
.header > h2 {
	font-size: 44pt;
}
.mainbody {
	grid-area: main;
	align-self: center
	margin:0;
	border:0;
	width:100%;
	height: 200vh;
}
.final_footer {
	grid-area: footer;
	height:50px;
	width:100%;
}